<div class="container-fluid" class="transparent-bg">
  <div class="row" class="transparent-bg">
    <div class="col text-right">
      <button type='button' mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="row transparent-bg">
    <div class="col transparent-bg">
      <img *ngIf="isPhoto" [src]="mediaToView.path" width="auto" height="auto">
      <video *ngIf="!isPhoto"
    </div>
  </div>
  <div class="row transparent-bg">
    <div class="col text-right viewer-text">
      {{ isPhoto ? 'Taken: ' : 'Recorded: '}} {{mediaToView.tdate}}
      <br>
      <mat-icon>place</mat-icon> {{mediaToView.physloc}}
      <br>
      Uploaded: {{ mediaToView.udate}}
    </div>
    <div class="col text-center viewer-text">
      <p>
        {{ mediaToView.desc }}
      </p>
    </div>
    <div class="col text-left viewer-text">
      <mat-list dense *ngIf="currMediaCategories.length > 0">
        <h6 matSubheader>Categories</h6>
        <mat-list-item *ngFor="let cat of currMediaCategories">
          {{cat}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="row transparent-bg">
    <div class="col text-center">
      <button type="button" mat-flat-button [mat-dialog-close]="false">
        Close Window
      </button>
    </div>
  </div>
</div>
