<button mat-button [matMenuTriggerFor]="loggedin ? userProfileMenu : loginFormPanel" aria-label="Login Button">
  {{loggedin ? firstName : 'Login'}}
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #loginFormPanel="matMenu"  yPosition="below">

    <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput [(ngModel)]="email">
      </mat-form-field>

    </div>

    <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password': 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </div>

    <div mat-menu-item [disableRipple]="true" >

      <button type="button" mat-raised-button (click)="logUserIn($event)">Login</button>
      <!--ToDo: Facebook Login/Register-->

    </div>

</mat-menu>
<mat-menu #userProfileMenu="matMenu" yPosition="below">
  <!--ToDo: User Profile Menu-->
</mat-menu>
