<mat-nav-list>
  <a href="#" mat-list-item (click)="shareToFacebook()">
    <mat-icon mat-list-icon></mat-icon><!--ToDo: <i class="fab fa-facebook-square"></i>-->
    <h4 mat-line>Share to Facebook</h4>
  </a>

  <a href="#" mat-list-item (click)="shareToInstagram()">
    <mat-icon mat-list-icon></mat-icon><!--ToDo: <i class="fab fa-instagram"></i>-->
    <h4 mat-line>Share to Instagram</h4>
  </a>

  <a href="#" mat-list-item (click)="shareToTwitter()">
    <mat-icon mat-list-icon></mat-icon><!--ToDo: <i class="fab fa-twitter"></i>-->
    <h4 mat-line>Share to Twitter</h4>
  </a>
</mat-nav-list>
