<h3 mat-dialog-title>Create New Post</h3>
<div class="row" mat-dialog-content>
  <div class="col text-left">
    <button type="button" mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="row" *ngIf="!submitting && !posted">
    <div class="col">
      <form [formGroup]="createPostForm" (ngSubmit)="submitPost()">
        <div class="form-row row-col-1">
          <div class="col">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput formControlName='title'>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field>
              <mat-label>Author</mat-label>
              <input matInput formControlName='author'>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field>
              <mat-label>Post Body</mat-label>
              <textarea matInput formControlName='content'></textarea>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-checkbox formControlName="pinned">Keep Post Pinned</mat-checkbox>
          </div>

          <div class="col">
            <input type="file" id="imgFileInput" #imgFileInput (change)="onFileChange($event)">
            <button type="button" mat-button (click)="clearFile()">Clear File</button>
          </div>

          <div class="col">
            <button type="button" mat-raised-button [disabled]="createPostForm.invalid">Submit Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row" *ngIf="submitting && !posted">
    <div class="col text-center">
      <mat-progress-spinner color="primary" mode="'indeterminate'"></mat-progress-spinner>
      <h4>Submitting Post...</h4>
    </div>
  </div>

  <div class="row" *ngIf="!submitting && posted">
    <div class="col">
      <mat-icon>check_circle_outline</mat-icon>
      <h4>Post Successfully Submitted</h4>
      <button type="button" mat-raised-button [mat-dialog-close]="newPost">
        Close Window
      </button>
    </div>

  </div>
</div>
